name: Build and Publish Packages

on:
  push:
    tags:
      - 'v*' # Only trigger when a version tag (like v1.0.0) is pushed

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org/'

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Playwright browsers
        working-directory: packages/react
        run: pnpm exec playwright install --with-deps chromium

      - name: Run tests
        env:
          CI: true
        run: pnpm run test:packages --browser.headless=true --reporter=verbose --reporter=github-actions

      - name: Build packages
        run: pnpm run build:packages

      - name: Publish packages
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          # Publish /packages/core
          cd packages/core
          pnpm publish --access public --no-git-checks

          # Publish /packages/react
          cd ../react
          pnpm publish --access public --no-git-checks
